.wrapper {
    height: 100%;
    padding-left: 96px;
}

.video-place {
    padding-left: 70px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    
}

.action-place {
    margin-left: 16px;
}