.content {
    width: 220px;
    padding: 4px 8px;
}

.menu-item {
    margin-left: 0 !important;
    
}

// .accounts::after {
//     content: "";
//     position: absolute;
//     width: 100px;
//     height: 30px;
//     top: -30px;
//     right: -20%;
// }