.content {
    width: 220px;
    padding: 4px 8px;
    padding-right: 0px;
}

.menu-scroll {
    overflow-y: auto;
}

.menu-item {
    margin-left: 0 !important;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    padding: 11px 16px;
    border: none;
    outline: none;
    line-height: 20px;
    border-radius: 0px;

    &:hover {
        background-color: rgba(109, 109, 112, 0.1);
    }

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
        border-radius: 0px !important;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}